<form 
    class="block5__form" 
    data-request="onSendCallbackForm"
    data-request-update="'landing/forms/callback-form-success': '#landing-callback-form-bottom'"
>
    <div class="block5__form-wrapper">
        <div class="block5__input-wrapper">
            <input type="hidden" name="form_desc" value="{{ formDesc }}" />
            <p>Имя</p>
            <input type="text" name="name" />
        </div>
        <div class="block5__input-wrapper">
            <p>Телефон или e-mail</p>
            <input type="text" name="phone" required /><span
                >Укажите удобный способ связи</span
            >
        </div>
    </div>  
    <p>Ваш вопрос</p>
    <textarea class="block5__textarea" name="message"></textarea>
    <button
        class="block5__submit"
        type="submit"
    >
        ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
    </button>
</form>
