<footer class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__contain">
            <div class="page-footer__info">
                <a href="index.html" class="logo page-footer__logo"></a>
                <div class="page-footer__socials">
                    <p>Мы в соц. сетях:</p>
                    <div class="page-footer__socials-list">
                        <a
                            class="page-footer__socials-item page-footer__socials-item--vk"
                            href="https://vk.com/sellmore"
                            rel="nofollow"
                            target="_blank"
                        ></a>
                        <a
                            class="page-footer__socials-item page-footer__socials-item--fb"
                            href="https://www.facebook.com/sellmore.ru"
                            rel="nofollow"
                            target="_blank"
                        ></a>
                    </div>
                </div>
            </div>
            <div class="page-footer__nav">
                <div class="page-footer__nav-list">
                    <div class="page-footer__nav-col">
                        <p class="page-footer__nav-title">Услуги</p>
                        <div class="page-footer__nav-contain">
                            <a
                                href="seo/index.html"
                                class="page-footer__nav-link"
                                >SEO</a
                            >
                            <a
                                href="smm/index.html"
                                class="page-footer__nav-link"
                                >SMM</a
                            >
                            <a
                                href="serm/index.html"
                                class="page-footer__nav-link"
                                >Управление репутацией</a
                            >
                            <a
                                href="context/index.html"
                                class="page-footer__nav-link"
                                >Контекстная реклама</a
                            >
                        </div>
                    </div>
                    <div class="page-footer__nav-col">
                        <div class="page-footer__nav-contain">
                            <a
                                href="target/index.html"
                                class="page-footer__nav-link"
                                >Таргетированная реклама</a
                            >
                            <a
                                href="media/index.html"
                                class="page-footer__nav-link"
                                >Медийная реклама</a
                            >
                            <a
                                href="leads/index.html"
                                class="page-footer__nav-link"
                                >Лидогенерация</a
                            >
                            <a
                                href="sozdanie-saitov/index.html"
                                class="page-footer__nav-link"
                                >Веб-разработка</a
                            >
                        </div>
                    </div>
                    <div class="page-footer__nav-col">
                        <p class="page-footer__nav-title">Компания</p>
                        <div class="page-footer__nav-contain">
                            <a
                                href="about/index.html"
                                class="page-footer__nav-link js-scrollScreen"
                                >О нас</a
                            >
                            <a
                                href="contacts/index.html"
                                class="page-footer__nav-link js-scrollScreen"
                                >Контакты</a
                            >
                            <a
                                href="portfolio/index.html"
                                class="page-footer__nav-link js-scrollScreen"
                                >Портфолио</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__copyright-panel">
        <div class="page-footer__copyright-panel-inner">
            <p class="page-footer__year">© Sellmore, 2019</p>
            <div class="sitemap__footer-wrap">
                <a href="sitemap/index.html" class="sitemap__footer-link"
                    >Карта сайта</a
                >
                <a
                    href="policy/index.html"
                    rel="nofollow"
                    target="_blank"
                    class="link page-footer__policy-link"
                    >Политика конфиденциальности</a
                >
            </div>
        </div>
    </div>
</footer>
