<div id="modal-callback" class="uk-modal modal-callback">
    <div class="uk-modal-dialog modal modal-callback">
        <div class="modal-callback__inner">
            <span class="modal__close-btn uk-modal-close">
                <svg class="icon-close modal__icon-close">
                    <use
                        xlink:href="{{ 'assets/images/svg-icons.svg#close'|theme }}"
                    />
                </svg>
            </span>
            <div class="uk-modal-dialog__contain">
                <div class="modal__inner p-rel">
                    <div id="modal-callback-form" class="modal-callback__contain">
                        {% partial 'modals/callback-form' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
