<div class="block5" style="background-image: url('themes/zatochka/assets/images/landing/{{background}}')">
    <div class="block5__wrapper">
        <div class="block5__column">
            <div class="block5__column-txt">
                <p>
                    Напишите нам, чтобы получить консультацию по интересующим
                    вас вопросам
                </p>
            </div>
            <div class="block5__column-txt">
                <p>
                    Мы предоставим вам русскогооворящих сотрудников. Поиск и
                    покупка недвижимости будет удобной и лёгкой для Вас, без
                    языкового барьера.
                </p>
            </div>
        </div>
        <div id="landing-callback-form-bottom" class="block5__column">
            {% partial 'landing/forms/callback-form' formDesc=formDesc %}
        </div>
    </div>
</div>
