<div class="callback-form page-seo__callback-form">
    <div class="callback-form__inner section-inner">
        <h2 class="callback-form__title">
            Свяжитесь с нами <br/>
            и получите бесплатную консультацию
        </h2>
        <div class="callback-form__list">
            <div class="callback-form__description">
                <div class="callback-form__description-info">
                    <div class="callback-form__description-info-block">
                        <a
                            href="tel:+79819998954"
                            class="callback-form__description-phone js-dct-phone"
                        >
                            +7 (981) 999-89-54
                        </a>
                    </div>
                    <div class="callback-form__description-info-block">
                        <a href="mailto:max@zatochka.ru" class="callback-form__description-mail">
                            max@zatochka.ru
                        </a>
                    </div>
                    <div class="callback-form__description-info-block">
                        <p class="callback-form__description-address">
                            107078, г. Москва, ул. Новорязанская, дом 18,
                            строение 21, этаж П, помещение 25
                        </p>
                    </div>
                </div>
            </div>
            <div id="callback-form-bottom" class="callback-form__form-wrapper">
                {% partial 'forms/callback-form' %}
            </div>
        </div>
    </div>
</div>
