.numeric-item__num {
  text-shadow: 1px 2px 10px rgba(0, 0, 0, .3);
  font-size: 72px;
  font-weight: 900;
  line-height: 1em;
  width: 110px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  letter-spacing: -1.8px;
  -webkit-background-clip: text;
  color: #cacaca;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  transition: all .2s ease 0s
}

.numeric-item__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -.6px;
  color: #1646bb
}

.numeric-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  background-color: #fff;
  padding: 30px 8.3333% 30px 8.3333%
}

.numeric-item:hover .numeric-item__num {
  color: #1646bb
}

.numeric-item:nth-child(2n) {
  background-color: #e8eaeb
}

html.backgroundcliptext .numeric-item:hover .numeric-item__num {
  background-image: -webkit-gradient(linear, left top, right top, from(#1646bb), to(#32cee3));
  background-image: -webkit-linear-gradient(left, #1646bb 0, #32cee3 100%);
  background-image: -moz- oldlinear-gradient(left, #1646bb 0, #32cee3 100%);
  background-image: -o-linear-gradient(left, #1646bb 0, #32cee3 100%);
  background-image: linear-gradient(to right, #1646bb 0, #32cee3 100%);
  color: transparent
}

.numeric-item__txt-wrapper {
  margin-left: 80px
}

.numeric-item_txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -.4px;
  margin-top: 20px;
  display: block
}

@media only screen and (max-width:1220px) {
  .numeric-item__txt-wrapper {
    margin-left: 40px
  }
}

@media only screen and (max-width:959px) {
  .numeric-item__num {
    font-size: 55px;
    width: 86px
  }

  .numeric-item__title {
    font-size: 20px
  }
}

@media only screen and (max-width:767px) {
  .numeric-item__title {
    font-size: 18px
  }

  .numeric-item {
    padding: 30px 20px 30px 20px
  }

  .numeric-item__txt-wrapper {
    margin-left: 15px
  }

  .numeric-item_txt {
    font-size: 14px
  }
}

@media only screen and (max-width:479px) {
  .numeric-item__num {
    display: none
  }
}