##
description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
    </body>
</html>
<script src="{{ [
    'assets/js/vendor.js',
]|theme }}"></script>
<script src="{{ [
    'assets/js/common.js',
]|theme }}"></script>

{% framework extra %}
{% scripts %}
</body>