.page-footer__copyright-panel-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.page-footer__year {
  color: #92989b
}

.page-footer__copyright-panel {
  height: 59px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  background-color: #fff;
  margin-top: 75px
}

.page-footer {
  padding-top: 45px
}

.page-footer__mail {
  margin-top: 35px;
  font-size: 18px
}

.page-footer__address {
  margin-top: 25px;
  line-height: 20px
}

.page-footer__phone {
  font-size: 26px;
  font-weight: 700;
  color: #192440;
  text-decoration: none;
  margin-top: 25px;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  transition: all .2s ease 0s
}

.page-footer__phone:hover {
  color: #1646bb
}

.page-footer__contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

.page-footer__callback-btn {
  position: absolute;
  top: 0;
  right: 0
}

.page-footer__nav-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase
}

.page-footer__nav-title+.page-footer__nav-contain {
  margin-top: 10px
}

.page-footer__nav-contain {
  margin-top: 35px
}

.page-footer__nav-link {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: -.3px;
  text-decoration: none;
  color: #263238;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  transition: all .2s ease 0s
}

.page-footer__nav-link:hover {
  color: #1646bb
}

.logo.page-footer__logo {
  width: 270px;
  height: 83px
}

.page-footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #92989b;
  font-size: 14px;
  margin-top: 37px
}

.page-footer__socials-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px
}

.page-footer__socials-item {
  display: block
}

.page-footer__socials-item img {
  width: 25px;
  height: 25px
}

.page-footer__socials-item:not(:last-child) {
  margin-right: 12px
}

.page-footer__socials-item:before {
  color: #1646bb;
  font-family: fontello;
  font-size: 26px
}

.page-footer__socials-item.page-footer__socials-item--vk:before {
  content: '\F30A'
}

.page-footer__socials-item.page-footer__socials-item--fb:before {
  content: '\F301'
}

html.backgroundcliptext .page-footer__socials-item:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#1646bb), to(#32cee3));
  background-image: -webkit-linear-gradient(left, #1646bb 0, #32cee3 100%);
  background-image: -moz- oldlinear-gradient(left, #1646bb 0, #32cee3 100%);
  background-image: -o-linear-gradient(left, #1646bb 0, #32cee3 100%);
  background-image: linear-gradient(to right, #1646bb 0, #32cee3 100%);
  -webkit-background-clip: text;
  color: transparent
}

.page-footer__info {
  padding-right: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 470px
}

.page-footer__policy-link {
  color: #92989b;
  text-decoration: none
}

.page-footer__policy-link:hover {
  text-decoration: underline
}

.page-footer__nav {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.page-footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -40px
}

.page-footer__nav-col {
  width: 33.3333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px
}

.sitemap__title {
  display: block;
  font-size: 46px;
  width: 100%;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto
}

.sitemap__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px
}

.sitemap__footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.sitemap__footer-link {
  display: block;
  margin-right: 20px;
  color: #92989b;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease
}

.sitemap__footer-link:hover {
  text-decoration: underline;
  color: #1a51d9
}

.sitemap__link {
  display: block;
  color: #1646bb;
  text-decoration: none
}

.sitemap__link span {
  border-bottom: 1px solid transparent
}

.sitemap__link span:hover {
  border-bottom: 1px solid #1646bb
}

.sitemap__ul {
  display: block;
  width: 100%;
  padding-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px
}

.sitemap__ul li {
  margin-top: 10px;
  margin-bottom: 10px
}

@media only screen and (max-width:1220px) {
  .page-footer__info {
    padding-right: 0
  }

  .page-footer__nav-col {
    width: 100%
  }

  .page-footer__nav-col:last-child {
    display: none
  }
}

@media only screen and (max-width:767px) {
  .page-footer__copyright-panel-inner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px
  }

  .page-footer__year {
    width: 100%;
    display: block;
    text-align: center
  }

  .page-footer__copyright-panel {
    margin-top: 33px;
    height: auto;
    height: initial
  }

  .page-footer {
    padding-top: 25px
  }

  .page-footer__address {
    margin-top: 10px
  }

  .page-footer__phone {
    line-height: 60px;
    border: 1px solid #8ba4b0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 20px;
    text-decoration: none
  }

  .page-footer__callback-btn {
    position: static;
    margin-top: 8px
  }

  .btn--large.page-footer__callback-btn {
    line-height: 50px;
    font-size: 13px
  }

  .logo.page-footer__logo {
    width: 210px;
    height: 65px
  }

  .page-footer__socials {
    margin-top: 15px
  }

  .page-footer__info {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0
  }

  .page-footer__policy-link {
    margin-top: 15px;
    width: 100%;
    display: block;
    text-align: center
  }

  .page-footer__nav {
    display: none
  }
}

@media only screen and (max-width:479px) {
  .page-footer__copyright-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
}