$assets-url: "../../assets";

.page-header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%
}

.page-header.page-header--fix {
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  box-shadow: 0 0 11px rgba(0, 0, 0, .2)
}

.page-header.page-header--fix .logo-panel {
  height: 60px
}

.page-header.page-header--fix .logo-panel__logo {
  width: 125px;
  height: 40px
}

.page-header.page-header--fix .logo-panel__nav {
  height: 27px
}

.header-navbar {
  padding: 22px 0;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  background-color: #fff;
  position: relative;
  z-index: 2;
  overflow: auto !important
}

.header-navbar__mobile-nav {
  display: none;
  padding-top: 30px;
  border-top: 1px solid #d2dbe0;
  margin-top: 25px
}

.page-header.page-header--fix .header-navbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 15px 0
}

.page-header.page-header--abs {
  position: absolute !important;
  top: 0 !important
}

.header-navbar {
  &__nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header-navbar__mobile-nav {
  display: none;
  padding-top: 30px;
  border-top: 1px solid #d2dbe0;
  margin-top: 25px
}

.header-navbar__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.header-navbar__nav-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -.3px;
  -webkit-transition: color .2s ease 0s;
  -o-transition: color .2s ease 0s;
  -moz-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  color: #192440;
  text-decoration: none
}

.header-navbar__nav-link.header-navbar__nav-link--active {
  color: #1646bb;
  font-weight: 700
}

.header-navbar__nav-link:hover:not(.header-navbar__nav-link--active) {
  color: #1646bb
}

.logo {
  width: 162px;
  height: 52px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(#{$assets-url}/images/logo.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain
}

.logo-panel {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  box-shadow: 0 0 11px rgba(0, 0, 0, .2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 90px;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  width: 100%;

  &__inner {
    max-width: 1205px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

.logo-panel.logo-panel--active {
  -webkit-box-shadow: inset 0 -1px 0 #d2dbe0;
  -moz-box-shadow: inset 0 -1px 0 #d2dbe0;
  box-shadow: inset 0 -1px 0 #d2dbe0;
  border-bottom: 1px solid #d2dbe0;
  position: fixed;
  top: 0
}

.logo-panel.logo-panel--active .btn {
  display: none
}

.logo-panel__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  height: 35px;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.logo-panel__nav-item {
  -webkit-transition: color .2s ease 0s;
  -o-transition: color .2s ease 0s;
  -moz-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .4px;
  text-decoration: none;
  color: #263238
}

.logo-panel__nav-item.logo-panel__nav-item--active {
  color: #1646bb
}

.logo-panel__nav-item:not(:last-child) {
  margin-right: 40px
}

.logo-panel__nav-item:hover:not(.logo-panel__nav-item--active) {
  color: #1646bb
}

.logo-panel__tel {
  color: #1646bb;
  display: inline;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px dotted #1646bb;
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
  margin-left: auto;
  text-decoration: none
}

.logo-panel__tel+.logo-panel__btn-wrapper {
  margin-left: 70px
}

.logo-panel__tel:before {
  font-family: fontello, sans-serif;
  content: '\E800';
  color: #1646bb;
  font-size: 22px;
  display: inline;
  vertical-align: middle;
  margin-right: 15px
}

@media only screen and (max-width:1220px) {
  .logo-panel__btn-wrapper {
    display: none
  }
}

@media only screen and (max-width:1023px) {
  .header-navbar {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    top: 90px
  }

  .header-navbar__mobile-nav {
    display: block
  }

  .header-navbar__nav-list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .header-navbar__nav-item {
    width: 100%
  }

  .header-navbar__nav-item:not(:first-child) {
    margin-top: 20px
  }

  .header-navbar__nav-link {
    font-size: 12px
  }
  
  .logo-panel {
    z-index: 1130
  }

  .logo-panel__logo {
    width: 130px;
    height: 40px;
    margin-bottom: 10px
  }

  .logo-panel__nav {
    display: none
  }

  .logo-panel__tel {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: auto;
    margin-right: 50px
  }

  .logo-panel__tel+.logo-panel__btn-wrapper {
    margin-left: 0
  }

  .logo-panel__btn-wrapper {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }

  .logo-panel__burger {
    display: block;
    outline: 0 !important
  }
}

@media only screen and (max-width:959px) {
  .header-navbar {
    top: 70px
  }
}

@media (max-width:768px) and (orientation:landscape) {
  .header-navbar__nav-item {
    margin-top: 7px
  }

  .header-navbar__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
  }

  .header-navbar__mobile-nav,
  .header-navbar__nav {
    width: 50%
  }

  .header-navbar__mobile-nav {
    padding-top: 0;
    border: none;
    margin-top: 0
  }
}

@media only screen and (max-width:767px) {
  .logo-panel {
    height: 60px
  }

  .logo-panel__tel {
    font-size: 16px;
    margin-right: 30px
  }

  .header-navbar {
    top: 60px
  }

  .header-navbar__inner {
    padding-bottom: 60px
  }

  .btn--primary.logo-panel__btn {
    line-height: 40px
  }
}

@media only screen and (max-width:479px) {
  .logo-panel__inner {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .logo-panel__tel {
    font-size: 0;
    margin-right: 0;
    margin-left: 0;
    border-bottom: none
  }

  .logo-panel__tel:before {
    margin-right: 0;
    font-size: 26px;
    content: '\E806'
  }

  .header-navbar__mobile-nav {
    padding-top: 20px;
    margin-top: 20px
  }
}

@media only screen and (min-width:480px) {
  .logo-panel__tel {
    background-image: -webkit-gradient(linear, left top, right top, from(#1646bb), to(#32cee3));
    background-image: -webkit-linear-gradient(left, #1646bb 0, #32cee3 100%);
    background-image: -moz- oldlinear-gradient(left, #1646bb 0, #32cee3 100%);
    background-image: -o-linear-gradient(left, #1646bb 0, #32cee3 100%);
    background-image: linear-gradient(to right, #1646bb 0, #32cee3 100%);
    -webkit-background-clip: text;
    color: transparent
  }

  .logo-panel__tel:before {
    background-image: -webkit-gradient(linear, left top, right top, from(#1646bb), to(#32cee3));
    background-image: -webkit-linear-gradient(left, #1646bb 0, #32cee3 100%);
    background-image: -moz- oldlinear-gradient(left, #1646bb 0, #32cee3 100%);
    background-image: -o-linear-gradient(left, #1646bb 0, #32cee3 100%);
    background-image: linear-gradient(to right, #1646bb 0, #32cee3 100%);
    -webkit-background-clip: text;
    color: transparent
  }
}