.detail__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px
}

.detail__time {
  display: block;
  padding-top: 32px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}

.detail__wrapper h2 {
  display: block;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700
}

.detail__wrapper p {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400
}

.detail__wrapper img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%
}

.detail__wrapper a {
  color: #1646bb;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400
}

.detail__wrapper ul {
  display: block;
  width: 100%;
  list-style: none;
  padding-left: 40px
}

.detail__wrapper li {
  padding-left: 20px;
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400
}

.detail__wrapper li:after {
  position: absolute;
  content: '-';
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0
}

@media (max-width:1225px) {
  .detail__wrapper {
    max-width: none;
    padding-left: 25px;
    padding-right: 25px
  }
}

@media (max-width:1023px) {
  .detail__wrapper p {
    font-size: 16px;
    line-height: 24px
  }

  .detail__wrapper a {
    font-size: 16px;
    line-height: 24px
  }

  .detail__wrapper li {
    font-size: 16px;
    line-height: 24px
  }
}

@media (max-width:767px) {
  .detail__wrapper {
    padding-left: 20px;
    padding-right: 20px
  }
}