.seo-advancement {
  padding: 70px 0 70px 0;
  background-color: #f0f3f5
}

.seo-advancement__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -100px;
  margin-top: -30px
}

.seo-advancement__col {
  width: 25%;
  padding-left: 100px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px
}

.seo-advancement--padding {
  padding-bottom: 40px
}

.seo-advancement--padding2 {
  padding-bottom: 0
}

.seo-steps {
  padding: 75px 0 75px 0;
  background-color: #f0f3f5
}

.seo-steps--padding {
  padding-top: 0
}

.seo-brif {
  background-image: url(../../assets/images/bg/brif-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  padding: 75px 0 75px 0
}

.seo-brif__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -.75px
}

.seo-brif__steps {
  margin-top: 50px
}

.seo-brif__brif-link {
  font-weight: 700
}

.seo-brif__steps-txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 1.6px
}

.seo-brif__steps-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  width: 100%;
  max-width: 495px
}

.seo-brif__steps-item:before {
  color: #1646bb;
  line-height: 30px;
  font-size: 15px;
  font-family: fontello, sans-serif;
  margin-right: 15px;
  width: 15px;
  text-align: center
}

.seo-brif__steps-item.seo-brif__steps-item--download:before {
  content: '\E807'
}

.seo-brif__steps-item.seo-brif__steps-item--fill:before {
  content: '\E808'
}

.seo-brif__steps-item.seo-brif__steps-item--send:before {
  content: '\E801'
}

.seo-brif__steps-item.seo-brif__steps-item--user:before {
  content: '\F2C0'
}

.seo-brif__steps-item:not(:first-child) {
  margin-top: 20px
}
@media only screen and (max-width:1023px) {
  .seo-advancement__list {
    margin-left: -40px
  }

  .seo-advancement__col {
    padding-left: 40px
  }

  .seo-brif {
    background-image: none
  }

  .seo-brif__title {
    text-align: center
  }

  .seo-brif__steps {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto
  }
}

@media only screen and (max-width:767px) {
  .seo-advancement {
    padding: 45px 0 45px 0
  }

  .seo-advancement__col {
    width: 50%
  }

  .seo-steps {
    padding: 45px 0 0 0
  }

  .seo-steps__contain {
    margin-left: -20px;
    margin-right: -20px
  }

  .seo-brif {
    padding: 45px 0 25px 0
  }

  .seo-brif__title {
    font-size: 20px
  }

  .seo-brif__title br {
    display: none
  }

  .seo-brif__steps-txt {
    font-size: 16px
  }
}

@media only screen and (max-width:479px) {
  .seo-advancement__col {
    width: 100%
  }
}