.fin-mess {
  display: none;
  font-size: 18px;
  text-align: center;
  position: absolute;
  color: #fff;
  top: 50%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.callback-form {
  background-image: url(../../assets/images/contacts.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 70px 0 105px 0
}

.callback-form__recaprcha-wrapper,
.modal-callback__recaptcha-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.callback-form__mess {
  margin-left: auto;
  margin-top: 20px
}

.callback-form__recaprcha-wrapper .g-recaptcha {
  margin-top: 20px
}

.mess {
  line-height: 1.2em;
  color: #ff2727
}

.callback-form__list {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.callback-form__description {
  width: 100%;
  max-width: 350px;
  font-size: 18px;
  color: #fff;
  line-height: 30px
}

.callback-form__description p+p {
  margin-top: 40px
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.callback-form__form-wrapper {
  width: 100%;
  max-width: 625px;
  position: relative
}

.callback-form__col {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 80px
}

.callback-form__col:first-child {
  padding-top: 15px;
  padding-top: 15px
}

.callback-form__txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -.45px
}

.callback-form__txt {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -.45px
}

.callback-form__description-txt {
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -.65px
}

.callback-form__description-info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.callback-form__description-info-block:not(:first-child) {
  margin-top: 30px
}

.callback-form__description-address,
.callback-form__description-mail,
.callback-form__description-phone {
  padding-left: 35px;
  position: relative
}

.callback-form__description-address:before,
.callback-form__description-mail:before,
.callback-form__description-phone:before {
  width: 22px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0
}

.callback-form__description-phone {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -.65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.callback-form__description-phone:before {
  font-family: fontello;
  content: '\E800';
  color: #fff;
  font-size: 22px;
  display: inline-block;
  margin-right: 15px
}

.callback-form__description-mail {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .45px;
  margin-top: -2px
}

.callback-form__description-mail:before {
  font-family: fontello;
  content: '\E801';
  color: #fff;
  font-size: 22px;
  display: inline-block;
  margin-right: 15px
}

.callback-form__description-address {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -.45px;
  margin-top: -6px
}

.callback-form__description-address:before {
  font-family: fontello;
  content: '\E805';
  color: #fff;
  font-size: 22px;
  display: inline-block;
  margin-right: 15px
}

h2.callback-form__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  letter-spacing: -1.15px
}

.callback-form__notice {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -.25px;
  margin-right: 40px
}

.callback-form__notice a {
  color: #fff;
  text-decoration: underline
}

.callback-form__notice a:hover {
  text-decoration: none
}

.callback-form__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.callback-form__submit {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.callback-form__form-inner {
  margin-left: -20px;
  margin-top: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.callback-form__input-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding-top: 30px;
  padding-left: 20px;
  width: 100%;
  position: relative;
  margin-top: 3px
}

.callback-form__input-block label.error {
  position: absolute;
  top: 8px;
  color: #ff2727;
  font-weight: 500
}

.callback-form__input-block:not(:last-child) {
  width: 50%
}

@media only screen and (min-width:768px) {
  .callback-form__submit-btn {
    min-width: 300px
  }

  .callback-form__submit {
    margin-left: auto;
    margin-top: 32px
  }
}

@media only screen and (max-width:959px) {
  .callback-form__list {
    margin-top: 40px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .callback-form__description {
    max-width: 100%
  }

  .callback-form__form-wrapper {
    max-width: 100%;
    margin-top: 30px
  }

  .callback-form__col {
    width: 100%
  }

  .callback-form__col:last-child {
    padding-top: 45px
  }

  .callback-form__txt {
    text-align: center
  }

  .callback-form__description-txt {
    text-align: center;
    font-size: 20px
  }

  .callback-form__description-phone {
    font-size: 20px
  }

  .callback-form__bottom {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media only screen and (max-width:767px) {
  .callback-form {
    padding: 30px 0 65px 0
  }

  h2.callback-form__title {
    font-size: 23px
  }

  .callback-form__notice {
    margin-top: 25px;
    width: 100%;
    display: block;
    margin-right: 0
  }

  .callback-form__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }

  .callback-form__submit-btn {
    width: 100%
  }

  .callback-form__submit {
    margin-top: 20px;
    width: 100%
  }

  .callback-form__input-block label.error {
    font-size: 14px
  }

  .callback-form__input-block:not(:last-child) {
    width: 100%
  }
}

@media only screen and (max-width:479px) and (orientation:portrait) {
  .callback-form__recaprcha-wrapper .g-recaptcha {
    margin-left: -10px
  }

  .callback-form__recaprcha-wrapper .mess {
    margin-left: 0;
    font-size: 14px
  }
}