<a class="clients__item" href="keys-po-seo-gdeetotdom/index.html">
    <span class="clients__pic-wrap">
        <span
            class="clients__pic"
            style="background-image: url(../images/it19.jpg)"
        ></span>
        <span class="clients__txt-wrap">
            <span class="clients__pic-txt">ТОП-3 по видимости</span>
            <span class="clients__pic-txt--small"
                >по загородной недвижимости</span
            >
        </span>
    </span>
    <span class="clients__txt">Продвижение портала gdeetotdom.ru</span>
</a>
